<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Liste des Tâches</h2>
      <p>Mise à jour: {{lastUpdate | async | date: 'short' | uppercase}}</p>
      <ul class="list-group">
        <app-todo-list *ngFor="let todo of todos; let i = index"
                   [todoName]="todo.name"
                   [todoStatus]="todo.status"
                   [index]="i"
                   [id]="todo.id"></app-todo-list>
      </ul>
      <button class="btn btn-success"
              [disabled]="!isAuth"
              (click)="onConnectT()">Tout est fait !</button>
      <button class="btn btn-danger"
              [disabled]="!isAuth"
              (click)="onDisconnectT()">Rien n'est fait !</button>
    </div>
  </div>
</div>
